#container {
    width: 1200px;
    margin: 0 auto;
}

h1 {
    font-family: sans-serif;
    text-align: center;
}

#events {
    width: 250px;
    margin: auto;
    position: absolute;
    left: 80px;
}

.eventlist {
    list-style-type: none;
}

.eventlink {
    padding: 5px;
    font-family: sans-serif;
    border-radius: 3px;
    background: #00BF96;
    color: #fff;
    margin: 3px;
}

.active {
    background: #00816A;
}

#clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    width: 100%;
    margin: auto;
}

#clockdiv > div {
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div > span {
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext {
    padding-top: 5px;
    font-size: 16px;
}
